---
import Layout from "../layouts/Layout.astro";
import { getBlogs } from "../libs/microcms";

//MicroCMSの呼び出し
const response = await getBlogs({ fields: ["id", "title"] });
---

<Layout title="Astro Blog">
  <main>
    <h1>Astro Blog</h1>
    <ul>
      {
        response.contents.map((blog: any) => (
          <li>
            <a href={blog.id}>{blog.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style></style>
